* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  background-color: rgb(30, 30, 30);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
#light {
  background-color: rgb(247, 247, 247);
}
#light-form {
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.202);
  color: black;
}
#dark-text {
  color: rgb(22, 22, 22);
}

a {
  text-decoration: none;
}
main {
  padding: 36px;
  min-height: 81vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 120px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.app-name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.nav--image {
  height: 24px;
  margin-right: 6px;
}

.nav--title {
  font-size: 1.25rem;
  margin-top: 0;
  letter-spacing: 4px;
  font-family: 'Nova Flat', cursive;
}
.toggler {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.toggler--light {
  margin-top: 0;
  font-size: 12px;
}
.toggler--slider{
  margin-top: 0;
}
.toggler--dark {
  margin-top: 0;
  font-size: 12px;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #dddddd;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #dddddd;
  box-sizing: content-box;
}
.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: #a34ac3;
  border-radius: 50%;
}
#toggle-dark {
  justify-content: flex-end;
  background-color: #2B283A;
  border: 1px solid #2B283A;
}

.nav--project {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 4px;
}

.form {
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  justify-content: center;
  gap: 17px;
  /* border: 1px solid #672280; */
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.047);
  transition: 0.3s;
}

.form--input {
  font-family: 'Comfortaa', cursive;
  border-radius: 8px;
  border: none;
  text-indent: 12px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.115);
  color: rgb(234, 234, 234);
  background-color: rgb(60, 60, 60);
}

.form--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  grid-column: 1 / -1;
  font-family: 'Nova Flat', cursive;
  letter-spacing: 4px;
  border-radius: 8px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.generated--meme {
  display: block;
  width: 100%;
  margin-top: 100px;
  border-radius: 8px;
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(185, 185, 185);
  font-size: 10px;
  /* position: fixed;
  bottom: 0px;
  left: 8px;
  right: 8px; */
  text-align: center;
  z-index: -1;
}
.footer a {
  color: #b158cf;
}

@media (max-width:415px) {
  .form {
    left: 10px;
    right: 10px;
  }
  .meme--text {
    font-size: 1.2rem;
  }
}
@media (max-width:550px) and (min-width:416px) {
  .meme--text {
    font-size: 1.5rem;
  }
}
@media (min-width:760px) {
  .generated--meme {
    width: 70%;
    margin: 100px auto 0 auto;
  }
}
@media (min-width:1100px) {
  .generated--meme {
    width: 40%;
    margin: 100px auto 0 auto;
  }
  .footer {
    justify-content: end;
    margin-right: 8px;
  }
}
